<!-- <link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css"> -->
<!-- <script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="assets/js/easing.min.js"></script>
<script src="assets/js/hoverIntent.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/mail-script.js"></script>
<script src="assets/js/main.js"></script> -->

<div class="hero container section works section-padding section lb" data-scroll-index="2">
    <div class="container">
        <div class="section-title text-center space">
            <h3></h3>
        </div>
    </div>
    <section class="info-area" id="about">
        <div class="container-fluid">
            <div class="row d-flex justify-content-end align-items-center">
                <div class="col-lg-6 col-md-12 info-left no-padding">
                    <img class="img-fluid" src="assets/img/info-img.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 info-right no-padding">
                    <h1>Responsabilidad <br> Soporte personalizado</h1>
                    <p class="p3">
                        Nuestra eficiencia en el trabajo es algo que nos enorgullece, planteamos una estrategia diferenciada, ajustada y probada que nos permite ofertar un servicio de calidad a cada uno de nuestros clientes, a través del tiempo hemos invertido en tecnología y en gestión de la información que nos permite tener buenas herramientas para cumplir con nuestros compromisos comerciales.
                        <br>Nos involucramos en la situación de las personas a quienes contactamos, las entendemos, apoyamos y damos opciones convenientes.
                        <br>Hacemos nuestras tareas con profesionalismo y calidad humana. 

                    </p>

                    <br><a routerLink="/conocenos" class="primary-btn header-btn text-uppercase">Conocenos más</a>
                </div>
            </div>
        </div>
    </section>



</div>