<div class="hero  section works section-padding section lb" data-scroll-index="1">
    <div class="text-center all-title-box ">
        <h1>Nosotros</h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Misión</h2>
                    <p class="p3">“Somos un equipo humano comprometido con la gestión de cartera, entendemos la
                        situación del cliente y
                        le brindamos opciones para el mejor resultado posible de cobranza, nuestro trabajo mezcla
                        talento humano y
                        tecnología con un enfoque humano y de calidad.”. </p>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="assets/img/bg4.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div>

    </div><!-- end container -->
</div>

<div id="overviews" class="section lb">
    <div class="container hero  section works section-padding section lb">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="assets/img/bg6.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Visión</h2>
                    <p class="p3">“Al 2022 ser la Empresa de Gestión de Cartera más efectiva en el Ecuador, innovando en
                        el
                        mercado con soluciones
                        tecnológicas prácticas e integradas con una información confiable y certera para entender al
                        cliente
                        y
                        brindarle
                        un servicio personalizado y de calidad, con un enfoque de apoyo y una comunicación sencilla y
                        cálida,
                        para que la
                        experiencia del cliente supere las expectativas esperadas.”</p>
                </div><!-- end messagebox -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div>
</div>

<!--Objetivos-->
<div class="container hero">
    <div class="section-title row text-center">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>Objetivos</h1>
        </div>
    </div><!-- end title -->
</div>
<style>
    .tr { text-align: left; }
</style>

<div class="section lb">
    <div class="container">
        <div class="section-title text-center tr">
            <h3>Estratégicos</h3>
            <div class="dmoain-pricing tr">
                <div>
                    <table class="tr">
                        <thead>
                            <tr class="domain-head">
                                <th scope="col">
                                    Financiera
                                </th>
                                <th scope="col">
                                    Cliente
                                </th>
                                <th scope="col">
                                    Procesos Internos
                                </th>
                                <th scope="col">
                                    Aprendizaje y Crecimiento
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tr">
                            <tr class="tr">
                                <td data-label="Financiera">Cumplir con la Rentabilidad definida</td>
                                <td data-label="Cliente " >Posicionar la Empresa como la más efectiva.</td>
                                <td data-label="Procesos Internos"  >Obtener Plataforma tecnológica que optimice los procesos</td>
                                <td data-label="Aprendizaje y Crecimientoe" >Optimizar la tecnología</td>
                            </tr>
                            <tr class="tr">
                                <td data-label="Financiera"></td>
                                <td data-label="Cliente">Establecer una Experiencia de usuario diferenciado, amigable y profesional</td>
                                <td data-label="Procesos Internos">Enlazar a los clientes y las empresas  que adeuda intermedio de 
                                    la plataforma tecnológica</td>
                                <td data-label="Aprendizaje y Crecimientoe">Generar compromiso del Talento Humano.</td>
                            </tr>
                            <tr class="tr" >
                                <td data-label="Financiera"></td>
                                <td data-label="Cliente"></td>
                                <td data-label="Procesos Internos">Optimizar el tiempo de obtención de contactabilidad.</td>
                                <td data-label="Aprendizaje y Crecimientoe">Garantizar las capacidades del Talento Humano.</td>
                            </tr>
                            <tr class="tr">
                                <td data-label="Financiera"></td>
                                <td data-label="Cliente"></td>
                                <td data-label="Procesos Internos">Generar una base de datos de clientes</td>
                                <td data-label="Aprendizaje y Crecimiento"></td>
                            </tr>
                            <tr class="tr">
                                <td data-label="Financiera"></td>
                                <td data-label="Cliente"></td>
                                <td data-label="Procesos Internos">Tomar información relevante con las entidades financieras 
                                    y de servicios, tributarias, control, registro de personas, mobiles</td>
                                <td data-label="Aprendizaje y Crecimiento"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->