

  .progress-br {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
  }
  .progress-br .progress__item {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .progress-br .progress__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    border-top: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top-right-radius: 100%;
    transform-origin: left bottom;
    -webkit-animation: spin 3s linear infinite;
  }
  .progress-br.float .progress__item:before {
    border-top-width: 2px;
    margin-top: 0px;
    height: 50px;
  }
  .progress-br.float.shadow:before {
    border-top-width: 2px;
    margin-top: -41px;
    height: 50px;
  }
  .progress-br.shadow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -43px 0 0 12px;
    width: 45px;
    height: 45px;
    border-top: solid 10px #127de7;
    border-right: solid 10px #127de7;
    border-top-right-radius: 100%;
    z-index: -1;
    transform-origin: left bottom;
    -webkit-animation: spin 3s linear infinite;
  }
  .progress-br.shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    color: #127de7;
    text-align: center;
    line-height: 100px;
    border: 2px solid #127de7;
    border-radius: 50%;
    margin: -40px 0 0 -40px;
    z-index: -1;
    transform-origin: center;
  }
  .progress-br.done .progress__item {
    opacity: 0;
    -webkit-animation: done 3.1s;
    transition: opacity 0.3s linear 3.1s;
  }
  .progress-br.done .progress__item:before {
    display: none;
  }
  .progress-br.done:before {
    display: none;
  }
  .progress-br.done:after {
    opacity: 0;
    -webkit-animation: done 3.1s;
    transition: opacity 0.15s linear 3.1s;
  }
  .progress-br .progress__item {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .progress-br .progress__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: 0px;
    width: 45px;
    height: 45px;
    border-top: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top-right-radius: 100%;
    transform-origin: left bottom;
    -webkit-animation: spin 3s linear infinite;
  }
  .progress-br.float .progress__item:before {
    border-top-width: 2px;
    margin-top: 0px;
    height: 50px;
  }
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
	background: #333333;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover{
	background: #127de7;
}

.navbar-toggler:hover .icon-bar{
	background: #ffffff;
}
