<!-- <link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css"> -->

<section class="header bgTT " data-scroll-index="0" style="bottom: -100px">
    <div class="container" style="size: auto">
        <div class="row fullscreen d-flex align-items-center justify-content-end">

            <div class="banner-content col-12 col-md-5">
                <h1>FINSOLRED</h1>
                <h1>Red de soluciones financieras</h1>
                <p>
                    ES UNA RED DE SOLUCIONES FINANCIERAS. FINSOLRED ES EMPRESA DEDICADA A LA GESTIÓN DE COBRANZAS, CAPTACIONES Y COLOCACIÓN DE PRODUCTOS MEDIANTE CALL CENTER Y RECUPERACIÓN EN TERRENO, CON CARTERA FINANCIERA Y DE RETAIL
                </p>
                <a href="" data-scroll-nav="1" class="primary-btn header-btn text-uppercase">Conocenos</a>
            </div>
        </div>
    </div>
</section>