<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css">

<style>
    .down{
       bottom: -200px;
    }
</style>

<section class="banner-area relative down" >
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-7 col-md-12">
                <h4 class="text-uppercase">Discover the Colorful World</h4>
                <h1>
                    FINSOLRED					
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Discover Now</a>
            </div>												
        </div>
    </div>
</section>
<!-- End banner Area -->	
