<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css">

<section class="hero container section works section-padding section lb" data-scroll-index="6">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Contacta con nosotros</h1>
                    <p>Estmos para resolver tus incovenientes</p>
                </div>
            </div>
        </div>
        <form [formGroup]="Formulario" (ngSubmit)="doSomething()" class="form-area mt-60 contact-form text-left">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <input formControlName="name" placeholder="Enter your name" class="common-input mb-20 form-control"
                        type="text">

                    <input formControlName="email" placeholder="Enter email address"
                        class="common-input mb-20 form-control" type="text">

                    <input formControlName="phone" placeholder="Enter phone number"
                        class="common-input mb-20 form-control" type="text">

                </div>
                <div class="col-lg-6 form-group">
                    <textarea class="common-textarea mt-10 form-control" formControlName="message"
                        placeholder="Messege"></textarea>
                    <button class="primary-btn mt-20">Send Message</button>
                    <div class="mt-10 alert-msg">
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>