<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css">
<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="assets/js/easing.min.js"></script>
<script src="assets/js/hoverIntent.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/mail-script.js"></script>
<script src="assets/js/main.js"></script>




<div class="hero container section works section-padding section lb" data-scroll-index="1">
    <div class="container">
        <div class="section-title text-center space">
            <h3>Servicios </h3>
            <p class="space"> Nuestra Prioridad nuestro clientes nuestro objetivo ser ser los mejores </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="clearfix"></div>

                <div class="space single-feature col-lg-4">
                    <img class="space single-feature" src="assets/img/f1.PNG" alt="">
                    <h4>Telemarketing</h4>
                    <p class="p3">Maximizamos la eficiencia de las campañas<br>que llevamos adelante para expandir <br>nuevos mercados para nuestros clientes.</p>
                </div>
                <div class="space single-feature col-lg-4 div3">
                    <img class="single-feature div3" src="assets/img/f2.PNG" alt="">
                    <h4>Soporte 24/7</h4>
                    <p class="p3">Estamos disponibles en nuestros canales; telefónicode 8:00am a 18:00pm y por nuestra pagina web siempre.</p>
                </div>
                <div class="space single-feature col-lg-4 div3">
                    <img class="single-feature div3" src="assets/img/f3.png" alt="">
                    <h4>Gestion de conbranzas</h4>
                    <p class="p3">Ayudamos gestionar las deudas pendientes brindando opciones y facilitando el pago.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class=" service-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <p>
                    ESTAMOS PARA AYUDARTE
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f1blanco.png" alt=""><img>Ventas de productos y servicios</h4>
                    <p class="p3"> 
                        Antes de comenzar a llamar, hacemos una investigación y segmentamos los clientes para las campañas a realizar con base en la información que disponemos en nuestras bases de datos. 
                        <br>Planificamos una estrategia de telemarketing moderno para optimizar la comunicación entre clientes y agentes optimizando la operación.
                        <br>Identificamos las necesidades de los potenciales clientes y utilizamos distintos canales de comunicación para llegar de la manera más adecuada a cada uno.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f2blanco.PNG" alt=""><img>Investigación de Mercado
                    </h4>
                    <p class="p3">
                        Llevamos adelante investigación de mercado en todo el entorno nacional de Ecuador, proporcionando la información necesaria para la maduración de decisiones básicas y de largo alcance de la empresa que requieren un análisis cuidadoso de los hechos.                    
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f3blanco.png" alt=""><img>Agendamiento de citas y reservas
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f4blanco.PNG" alt=""><img>Gestión de Cobranzas
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f5blanco.PNG" alt=""><img>Cliente Fantasma</h4>
                    <p class="p3">
                        Establecemos los objetivos a investigar, se usan los distintos medios para llevar adelante la 
                        investigación del producto o servicio y se reporta la información levantada en el proceso investigativo.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f6blanco.PNG" alt=""><img>Fidelización Post-Venta
                    </h4>
                    <p class="p3">
                        Preparamos de manera estratégica un levantamiento de información de valor para entender a los clientes y poder apoyar a que se preste el mejor producto o servicio de quienes trabajan con nosotros.
                        <br>Apoyamos en el periodo de postventa, lo entendemos como aspecto fundamental para lograr la satisfacción completa del cliente, un paso que resulta básico y muchas veces definitivo para conseguir fidelización.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->