<link rel="stylesheet" href="assets/css/linearicons.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/main.css">
<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="assets/js/easing.min.js"></script>
<script src="assets/js/hoverIntent.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/mail-script.js"></script>
<script src="assets/js/main.js"></script>




<div class="hero container section works section-padding section lb" data-scroll-index="1">
    <div class="container">
        <div class="section-title text-center space">
            <h3>Servicios </h3>
            <p class="space"> Nuestra Prioridad nuestro clientes nuestro objetivo ser ser los mejores </p>
        </div>
        <!-- end title -->
        <div class="container-fluid">
            <div class="row">
                <div class="clearfix"></div>

                <div class="space single-feature col-lg-4">
                    <img class="space single-feature" src="assets/img/f1.PNG" alt="">
                    <h4>Soporte en linea</h4>
                    <p class="p3">Contactanos por medio de nuestro chat, <br> uno de nuestros agentes se comunicará <br>contigo a la brevedad</p>
                </div>
                <div class="space single-feature col-lg-4 div3">
                    <img class="single-feature div3" src="assets/img/f2.PNG" alt="">
                    <h4>Soporte 24/7</h4>
                    <p class="p3">Nuestro Bot te ayudara con tus dudas cuando nuestros agentes no esten disponibles.</p>
                </div>
                <div class="space single-feature col-lg-4 div3">
                    <img class="single-feature div3" src="assets/img/f3.png" alt="">
                    <h4>Gestion de conbranzas</h4>
                    <p class="p3">Te ayudaremos a gestionar tus deudas pendientes de las diferentes empresas aliadas, con el fin de mejorar tus facilidades de pago
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end section -->
<!-- Start service Area -->
<section class=" service-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <p>
                    ESTAMOS PARA AYUDARTE
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f1blanco.png" alt=""><img>Ventas de productos y servicios</h4>
                    <p>
                        Se trata del nombre asignado al conjunto de políticas y estrategias más recientes e innovadoras, centradas en la búsqueda de una nueva fuente de ventaja competitiva basada en la implicación emocional de los clientes y en la creación de experiencias ligadas
                        al producto o servicio. Es, en otras palabras, la búsqueda, por parte de las empresas, de enfatizar la diferenciación de sus ofertas. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f2blanco.PNG" alt=""><img>Investigación de Mercado
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f3blanco.png" alt=""><img>Agendamiento de citas y reservas
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f4blanco.PNG" alt=""><img>Gestión de Cobranzas
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f5blanco.PNG" alt=""><img>Cliente Fantasma</h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><img class="single-feature div3" src="assets/img/f6blanco.PNG" alt=""><img>Fidelización Post-Venta
                    </h4>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->