<div class="container-fluid">
    <div class="row">
        <div class="hero container section works section-padding section lb" data-scroll-index="4">
            <div class="section-title text-center ">
                <h3><br>Trabajamos con las diferentes areas financieras </h3>
                <br>
            </div>
            <div class="carousel">
                <div class="carousel-inner">
                    <figure>
                        <img src="assets/img/c1.png" alt="">
                        <figcaption>
                            <br>
                            <br>

                            <br>Bancos a nivel nacional
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="assets/img/c2.png" alt="">
                        <figcaption>

                            Cooperativas de ahorro y credito
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="assets/img/c3.png" alt="">
                        <figcaption>
                            Retail
                        </figcaption>
                    </figure>

                </div>

            </div>

        </div>

    </div>
</div>


<!-- End brand Area -->